*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #D7F9F1;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #40531B;
    background-color: #7AA095;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #7AA095;
    color: black;
    border-radius: 1rem;
    border: none;
    background-color: #96A762;

}

.new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #7AA095;
    color: aliceblue;
    border-radius: 1rem;
    border: none;
}

.msg-container{
   height: 100vmin;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   flex-wrap: wrap;
   gap: 4rem;
  
}

#msg{
    font-size: 5vmin;
}

.hide{
    display: none;
}